<div class="container">
    <form class="form-inline" action="/addMovieRec" method="get">
        <div class="input-group mb-3">
            <input name="search" type="text" class="form-control" placeholder="" aria-label="Search"
                aria-describedby="button-addon1">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Search</button>
        </div>
    </form>
    <div class="row row-cols-1 row-cols-md-3 g-3">
        {{#each movies}}
        {{#if poster_path}}
        <div class="col">
            <div class="card">
                <img src="https://image.tmdb.org/t/p/w400{{poster_path}}" class="card-img-top img-fluid">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">Realeas Date: {{release_date}}</p>
                    <button>Add</button>
                </div>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>

<!--
<div class="modal" tabindex="-1" id="event-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header"></div>
           <p class = "modal-title"></p>
          <div class="modal-body">
            <form>
              
              <div class="mb-3">
                <label for="add_info" class="event-label">Add Info</label>
                <input type="add" class="form-control" id="add_info" aria-describedby="info">
              </div>
              <div class="col-md-4">
                <select id="Like" class="form-select">
                  <option selected>Like?</option>
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>
            <div class="col-md-4">
                <select id="Mood" class="form-select">
                  <option selected>Mood?</option>
                  <option>Happy</option>
                  <option>Sad</option>
                  <option>Scared</option>
                  <option>Angry</option>
                  <option>Chill</option>
                  <option>Meh</option>
                  <option>Bored</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="events" class="event-label">Time</label>
                <input type="time" class="form-control" id="event_time" aria-describedby="event">
              </div>
              <button id="submit_button" class="btn btn-primary" type="submit">
                Create Event
              </button>
              <button id="close_button" class="btn btn-primary" type="submit">
                Close
              </button>
            </form>
          </div>
          <div class="modal-footer"></div>
        </div>
        <button type="button" class="btn btn-secondary"
                data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                data-bs-title="event_name, event_location, event_time">
                Custom tooltip
              </button>
      </div>
    </div>
    -->