<div class="container">
    <h2> Home </h2>
    {{message}}
    <form action="/login" method="post">
        <div class="mb-3">
            <label for="Mood" class="form-label">Mood</label>
            <input name="Mood" class="form-control" id="Mood">

            <button type="submit" class="btn btn-primary">Submit</button>
            
            <label for="Weather" class="form-label">Weather</label>
            <input name="Weather" class="form-control" id="Weather">

            <button type="submit" class="btn btn-primary">Submit</button>

            <label for="Time" class="form-label">Time</label>
            <input name="Time" class="form-control" id="Time">

            <button type="submit" class="btn btn-primary">Submit</button>

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>