<div class="container">
    <h2> Login </h2>
    {{message}}
    <form action="/login" method="post">
        <div class="mb-3">
            <label for="usernameInput" class="form-label">Username</label>
            <input name="username" class="form-control" id="usernameInput">
            
            <label for="passwordInput" class="form-label">Password</label>
            <input name="password" class="form-control" id="passwordInput">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>