<div>
    <h1> Profile:</h1>
    <form class = "form-group" method="post" action="/login">
    
        <label for="text">Username:</label> 
        <input type="text" class = "form-control"  name="username" /><br />
    
        <label for="text">Email:</label> 
        <input type="text" class = "form-control"  name="email" /><br />
        
        <br/>
        <label>logout? </label>
        <!-- <a href = "/logout"> Register Here</a> -->
    </form>

</div>