<form class="form-group" method = "post" action = "/register">
    <h1>Register</h1>
    <label for="username">Username:</label>
    <input id = "username" type="text" class="form-control" name="username" /><br />

    <label for="password">Password:</label>
    <input id "password" type="password" class="form-control" name="password" /><br />

    <button type="submit" class="btn btn-primary"> Register </button> 
    <br />
    <label for="login">Already have an account? </label>
    <a href="/login">login</a>
</form> 